.header {
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: sans-serif;
}
.bold {
  font-weight: bold;
}
.first {
  display: inline;
}
.bottom {
  text-align: right;
  font-weight: bold;
}
.middle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  align-content: center;
}
img {
  width: 125px;
  margin: 20px 40px;
}

.footer {
  font-family: sans-serif;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  clear: both;

}
.termsOfUse, .privacyPolicy {
  display: inline-block;
  margin-left: 20px;
}
